body {
    padding-top: 50px
}

body>.navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in
}

@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent!important
    }
}

.chat-window {
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
}

.tech-panel .panel-body {
    overflow: auto;
}

.user-info-panel .list-group-item {
    padding: 4px 0;
}
