<!DOCTYPE html>
<html>
  <head>
    <title>Drunken Donuts Admin</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/lumen/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/utils.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.2/lodash.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body ng-app="admin">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Drunken Donuts Dashboard</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/admin/">Home</a>
            </li>
            <li>
              <a href="/admin/users">Users</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" ng-controller="ChatController">
      <div class="row m-t-lg">
        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="chat in chats" ng-class="{ active: activeChat === chat }" ng-click="setActiveChat(chat)" ng-show="!chat.offline">
              <span class="badge">{{ chat.newMessages }}</span>
              {{ chat.user.first_name }}
            </li>
            <li class="list-group-item" ng-show="!chats.length">
              0 users connected.
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default" ng-show="!activeChat">
            <div class="panel-heading"></div>
            <div class="panel-body">
              -
            </div>
          </div>

          <div class="panel" ng-show="activeChat" ng-class="{ 'panel-success': !activeChat.offline }">
            <div class="panel-heading">
              {{ activeChat.user.first_name }}
              <span ng-show="activeChat.offline"> (Offline)</span>
            </div>
            <form class="panel-body" ng-submit="sendMessage()">
              <div class="chat-container">
                <div class="row msg_container" ng-repeat="message in activeChat.messages" ng-class="{ base_sent: message.fromMe, base_receive: !message.fromMe }">
                  <div class="col-md-10 col-xs-10">
                    <div class="messages" ng-class="{ msg_sent: message.fromMe, msg_receive: !message.fromMe }">
                      <b>{{ message.from.name }}</b>
                      <p>{{ message.message }}</p>
                      <time datetime="2009-11-13T20:00">{{ message.date }}</time>
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-2 avatar">
                    <img src="/img/avatar-default.jpg" class="img-responsive img-thumbnail">
                  </div>
                </div>
              </div>

              <input type="text" class="form-control" placeholder="Message..." ng-model="message"/>
              <button type="submit" class="hide"></button>
            </form>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default user-info-panel">
            <div class="panel-heading">
              User Info
            </div>
            <div class="panel-body">
              <ul class="list-group m-b-sm">
                <li class="list-group-item b-none">
                  <b>Username:</b> <a href="#">@gavalos</a>
                </li>
                <li class="list-group-item b-none">
                  <b>Organization:</b> <a href="#">WePow</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default tech-panel m-t-sm">
            <div class="panel-heading">
              Tech Info
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li>
                  <b>Location:</b> Knoxville, TN, United States
                </li>
                <li>
                  <b>From url:</b> https://chickfila.wepowapp.com/iqs/d1f0a039fb004481ba0a131c000a0e1c?registered=true
                </li>
                <li>
                  <b>Browser:</b> Chrome (53.0.2785.116)
                </li>
                <li>
                  <b>Operating Systems:</b> Microsoft Windows 10
                </li>
                <li>
                  <b>Languages:</b> English (en-US), English (en)
                </li>
                <li>
                  <b>Plugins:</b> Flash=23.0.0, Java=none
                </li>
                <li>
                  <b>Javascript variables:</b> E
                </li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default m-t-sm">
            <div class="panel-heading">Tools</div>
            <div class="panel-body">
              <button class="btn btn-default btn-block">Send to Zendesk</button>
              <button class="btn btn-default btn-block">Watch Recording</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/admin/app.js"></script>
  </body>
</html>
